.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

#message {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: linen;
    color: white;
    text-align: center;
}
