# Option to follow symbolic links. -FollowSymLinks switches it off
Options +FollowSymLinks
# URL rewriting does not work without this setting:
RewriteEngine On

# if directory does not exist
RewriteCond %{SCRIPT_FILENAME} !-d

# if file does not exist
RewriteCond %{SCRIPT_FILENAME} !-f
# Redirect everything to /index.secure
RewriteRule ^.*$ ./index.php

# Check if your url is localhost or a real domain. Handy for restricting access to certain documents or directories
RewriteCond %{HTTP_HOST} !^localhost$
RewriteCond %{HTTP_HOST} !^127.0.0.1$
RewriteRule ^phpinfo.php$ /index.php

# You can override PHP settings for the directory this file is placed in, e.g.
php_value  upload_max_filesize  10M

